* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f172a;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-card {
    background: #111827;
    padding: 40px;
    border-radius: 20px;
    width: 400px;
    text-align: center;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
}

.auth-card h1 {
    color: white;
    margin-bottom: 30px;
}

.auth-card input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 12px;
    background: #1e293b;
    color: white;
    font-size: 15px;
}

.auth-card button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 12px;
    background: #38bdf8;
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.auth-card p {
    margin-top: 20px;
    color: #94a3b8;
}

.auth-card a {
    color: #38bdf8;
    text-decoration: none;
}

